.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
@font-face {
	font-family:SentyGoldenBell;
	src: url(../img/新蒂金钟体.ttf);
}
.diamond{
	position: relative;
	    top: -5px;
	    display: inline-block;
	    margin: 0 20px;
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    width: 8px;
	    height: 8px;
	    background: #000;
}
.info a:hover{
	color: #333;
}
.phone{
	position: relative;
	margin: 0 auto;
	margin-top: 35px;
	width: 1230px;
	
}
.title h2{
	display: inline-block;
	font-family: "宋体";
}
.title{
	position: relative;
	text-align: center;
	margin-bottom: 40px;
}
.white{
	color: #FFFFFF;
	
}
.white1{
	background-color: #FFFFFF;
}
.left{
	width: 220px;
	height: 465px;
	float: left;
	margin-right: 18px;
}

.desc{
	width: 220px;
	height: 318px;
	background: #000000;
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	cursor: default;
}
.desc9{
	width: 220px;
	height: 318px;
	background: #3a456e;
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	cursor: default;
}
.desc1{
	padding-top: 34px;
	font-weight: 700;
	padding-bottom: 34px;
}
.desc2{
	font-size: 30px;
	
}
.desc3{
	font-size: 14px;
	width: 40px;
	margin: 20px auto 40px;
	border-radius: 10px;
	cursor: pointer;
	border: #fff 1px solid;
}
.desc4{
	font-size: 14px;
	
}
.line{
	width: 80%;
	margin: 0 auto 40px;
	border: 0.5px #fff solid;
}
.line1{
	width: 80%;
	margin: 0 auto 20px;
	border: 0.5px #fff solid;
}
.text{
	margin-top: 19px;
}
.text img{
	width: 220px;
	height: 128px;
}
.middle{
	width:690px ;
	float: left;
}
.middle li{
	float: left;
	width: 50%;
	height: 224px;
	list-style: none;
	padding-bottom: 17px;
	padding-right: 9px;
	box-sizing: border-box;
	margin-bottom: 17px;
	
}

.middle img:hover{
	transform: scale(1.1);
	-webkit-transition: all 0.2s;
}
.middle img{
	width: 336px;
	height: 224px;
}
.right{
	float: left;
	width:277px ;
	height:465px;
	background: #333333;
	margin-left: 20px;
	
}
.right:hover{
	transform: scale(1.1);
	-webkit-transition: all 0.2s;
}
.right img{
	width: 277px;
	height: 465px;
}
.camera{
	background-color: #222;
}
.buttom{
	max-width: 1220px;
	margin: 20px auto 0;
	text-align: center;
	list-style: none;
	
	float: left;
	
}
.buttomli{
	float: left;
	margin-right: 15px;
	border:1px solid #666;
}
.first{
	margin-right: 0;
}
.buttomli img{
	width:290px ;
	height: 193px;
	display: block;
}
.xia{
	width: 100%;
	background: #222222;
}
.footer{
	width: 100%;
	height: 300px;
	background: #000000;
	margin: 0 auto;
}
.link{
	width: 1120px;
	height: 239px;
	margin:0 auto;
	border-bottom: 1px solid #333;
}
.copyright{
	width: 1120px;
	height: 30px;
	color: #666666;
	margin: 0 auto;
	text-align: center;
	font-size: 13px;
}
.linkleft{
	color: #FFFFFF;
	font-size: 50px;
	float: left;
	margin-top: 80px;
	margin-left: 80px;
}
.linkright{
	float: right;
	margin-top: 40px;
	margin-right: 100px;
	
}
.linkright dl{
	float: left;
	width: 111px;
	text-align: left;
	margin-top: 50px;
	margin-right: 140px;
}
.linkright dt{
	font-size: 18px;
	color: white;
}
.linkright dd{
	display: block;
	height: 30px;
	font-size: 14px;
	line-height: 43px;
	color: #999;
}
